<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h1>Edit your Listing:</h1>
    <form
      action="/listings/<%= listing._id %>?_method=PUT"
      method="post"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Enter Title</label>
        <input
          type="text"
          name="listing[title]"
          value="<%= listing.title %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Enter description</label>
        <textarea
          name="listing[description]"
          cols="30"
          rows="10"
          class="form-control"
          required
        >
 <%= listing.description %></textarea
        >
        <div class="invalid-feedback">Please enter a short description</div>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Select category</label>
        <select name="listing[category]" id="category" class="form-control" required>
          <option value="Rooms">Rooms</option>
          <option value="Mountain">Mountain</option>
          <option value="Iconic Cities">Iconic Cities</option>
          <option value="Castles">Castles</option>
          <option value="Amazing Pools">Amazing Pools</option>
          <option value="Camping">Camping</option>
          <option value="Farms">Farms</option>
          <option value="Arctic">Arctic</option>
          <option value="Beach">Beach</option>
          <option value="Urban">Urban</option>
        </select>
      </div>

      <div class="mb-3">
        Original Image <br />
        <img
          src="<%= originalImageUrl %>"
          alt="listing_image"
          class="edit-pg-image"
        />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload new image</label>
        <input type="file" name="listing[image]" class="form-control" />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Enter price</label>
          <input
            type="number"
            name="listing[price]"
            value="<%= listing.price %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price should be valid.</div>
        </div>
        <div class="mb-3 col-md-4">
          <label for="location" class="form-label">Enter location</label>
          <input
            type="text"
            name="listing[location]"
            value="<%= listing.location %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location should be valid.</div>
        </div>
        <div class="mb-3 col-md-4">
          <label for="country" class="form-label">Enter country</label>
          <input
            type="text"
            name="listing[country]"
            value="<%= listing.country %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country name should be valid.</div>
        </div>
      </div>

      <button type="submit" class="btn btn-dark add-btn mt-3">Edit</button>
      <br /><br />
    </form>
  </div>
</div>
